@import '../components/Map/_map';
@import '../components/NavBar/_navbar';
@import '../components/Landing/_landing';
@import '../components/FavoriteBeaches/_favorites';


.header {
    //background-color: red;
    height: 8vh;
    width: 100%;
}

.nav-links { //link to Map 
    position: absolute;
    right: 150px;
    top: 30px;
}

.logout-link { //logout link does not need to be visable from home screen 
    position: absolute;
    right: 250px;
    top: 30px;
}
// .nav-to-map-div {
//     position: absolute;
    
// }
