$main-font-color: #19303F;
$wave-blue: #6990B4;
$oil-blue: #469Fa6;
$accent-orange: #D16F2D;
$barlow-font: 'Barlow', sans-serif; 

@mixin flexVerticalCenter() {
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
    
}

@mixin buttons() {
    color: $main-font-color;
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer;
    transition-duration: .2s;
      -webkit-transition-duration: .2s;
      -moz-transition-duration: .2s;
}

* {
    box-sizing: border-box;
}

.landing-div {
    @include flexVerticalCenter();

    width: 100%;
    height: 89vh;
    background-image: url(../../assets/pic2.jpg);
    background-size: cover;
    background-position: center;
    font-family: $barlow-font;
}

.nav-to-map-button {
    @include buttons();
    font-size: 41px;

    padding: 40px 175px;
    border-radius: 75px;
    background: transparentize(white, .35);
    &:hover {
        background: transparentize(white, 0.15);
        text-shadow: 2px 2px 4px white;
    }  
}

.login-links {
    width: 35vw;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    color: $main-font-color;
    button {
        @include buttons();
        background: none;
        font-size: 22px;
        font-weight: 500;
        &:hover {
            color: $accent-orange;
        }
    }
    .create-acct-area {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.input-box-area {
    height: 30vh;
    width: 30vw;
    margin-right: 86px;
}

.login {
    @include flexVerticalCenter();
    width: 35vw;
    height: 30vh;
    background: transparentize(white, 0.5);
    border-radius: 40px;

    .login-view {
        height: 17.5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .login-inputs {
        color: $main-font-color;
        letter-spacing: 0.06em;
    }

    input {
        @include flexVerticalCenter();
        padding: 7px 141px 7px 9px;
        border: none;
        margin: 3px 0;
        letter-spacing: 0.2em;
    }

    .password-input {
        margin-top: 15px;
    }

    .login-view-buttons {
        display: flex; 
        justify-content: space-between;
        align-items: flex-end;
        button {
            @include buttons();
            background: none;
            font-size: 17px;
            font-weight: 500;
            &:hover {
                color: $accent-orange;
            }
        }

    }
}

.website-description {
    width: 80vw;
    margin-top: 30px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 0.06em;
    text-align: center;
    color: transparentize(white, .2);
    font-size: 35px;
    font-family: $barlow-font;
}

.footer {
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        color: $main-font-color;
        font-family: $barlow-font;
        font-size: 16px;
    }
}

