$main-font-color: #19303F;
$wave-blue: #6990B4;
$oil-blue: #469Fa6;
$accent-orange: #D16F2D;
$barlow-font: 'Barlow', sans-serif; 

@mixin flexVerticalCenter() {
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
}

@mixin inputBoxArea() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 30vh;
    background: transparentize(white, 0.5);
    border-radius: 23px;
    @media (max-width: 500px) {
        height: 160px;
        width: 250px;
    }
}

@mixin inputs() {
    width: 20vw;
    padding: 7px 9px;
    border: none;
    letter-spacing: 0.2em;
    border-radius: 4px;
    @media (max-width: 500px) {
        width: 185px;
    }
}

@mixin buttons() {
    font-family: $barlow-font;
    color: $main-font-color;
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer;
    transition-duration: .2s;
      -webkit-transition-duration: .2s;
      -moz-transition-duration: .2s;
}

* {
    box-sizing: border-box;
}

.landing-div {
    @include flexVerticalCenter();
    
    width: 100%;
    height: 89vh;
    background-image: url(../../assets/pic2.jpg);
    background-size: cover;
    background-position: center;
    font-family: $barlow-font;
}

.nav-to-map-button {
    @include buttons();
    font-family: $barlow-font;
    height: 125px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 41px;
    outline: none;
    border-radius: 75px;
    background: transparentize(white, .35);
    &:hover {
        background: transparentize(white, 0.15);
        text-shadow: 2px 2px 4px white;
    }  
}

.login-links {
    width: 35vw;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    color: $main-font-color;
    font-family: $barlow-font;
    button {
        @include buttons();
        background: none;
        font-size: 22px;
        font-weight: 500;
        &:hover {
            color: $accent-orange;
        }
    }
    .create-acct-area {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .logged-in-message {
        font-family: $barlow-font;
        color: $main-font-color;
        font-size: 25px;
        letter-spacing: 0.06em;
        text-align: center;
        @media (max-width: 500px) {
            font-size: 19px;
            width: 150px;
            line-height: 23px;
        }
    }
}

.input-box-area {
    height: 30vh;
    width: 30vw;
    margin-right: 86px;
}

.login {
    @include inputBoxArea();

    // .login-view {
    //     height: 17.5vh;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    // }

    .login-inputs {
        color: $main-font-color;
        // letter-spacing: 0.06em;

        input {
            @include flexVerticalCenter();
            @include inputs();
            margin: 20px;
        }
    }

    .login-view-buttons {
        width: 20vw;
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        button {
            @include buttons();
            background: none;
            font-size: 17px;
            font-weight: 500;
            &:hover {
                color: $accent-orange;
            }
        }

    }
}

.register {
    @include inputBoxArea();

    .register-inputs {
        input {
            @include flexVerticalCenter();
            @include inputs();
            margin-top: 15px;
        }
    }

    .register-buttons {
        width: 20vw;
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        button {
            @include buttons();
            background: none;
            font-size: 17px;
            font-weight: 500;
            padding-top: 15px;
            &:hover {
                color: $accent-orange;
            }
        }
    }
}

.website-description {
    width: 80vw;
    margin-top: 30px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 0.06em;
    text-align: center;
    color: transparentize(white, .2);
    font-size: 35px;
    font-family: $barlow-font;
}

.footer {
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        color: $main-font-color;
        font-family: $barlow-font;
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    * {
        box-sizing: border-box;
    }

    .landing-div {
        @include flexVerticalCenter();
        
    
        width: 100%;
        height: 92vh;
        background-image: url(../../assets/pic2.jpg);
        background-size: cover;
        background-position: center;
        font-family: $barlow-font;
    }
    
    .nav-to-map-button {
        @include buttons();
        
        height: 60px;
        width: 225px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    
        padding: 0px 0px;
        border-radius: 75px;
        background: transparentize(white, .35);
        &:hover {
            background: transparentize(white, 0.15);
            text-shadow: 2px 2px 4px white;
        }  
        // p {
        //     height: 20px;
        //     width: 50px;
        //     display: flex;
        //     justify-content: none;
        //     flex-direction: none;
        // }
        span {
            display: none;
        }
    }
    
    .login-links {
        width: 35vw;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: $main-font-color;
        button {
            @include buttons();
            background: none;
            font-size: 17px;
            font-weight: 500;
            &:hover {
                color: $accent-orange;
            }
        }
        .create-acct-area {
            height: 50px;
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            p {
                display: none;
            }
        }
    }
    
    .input-box-area {
        height: 30vh;
        width: 50vw;
        margin-right: none;
    }
    
    .login {
        @include inputBoxArea();
    
        // .login-view {
        //     height: 17.5vh;
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: space-between;
        // }
    
        .login-inputs {
            color: $main-font-color;
            // letter-spacing: 0.06em;
    
            input {
                @include flexVerticalCenter();
                @include inputs();
                margin: 20px;
            }
        }
    
        .login-view-buttons {
            width: 75vw;
            display: flex; 
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            button {
                @include buttons();
                background: none;
                font-size: 14px;
                font-weight: 500;
                &:hover {
                    color: $accent-orange;
                }
            }
    
        }
    }
    
    .register {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 229px;
        width: 250px;
        background: transparentize(white, 0.5);
        border-radius: 23px;
    
        .register-inputs {
            input {
                @include flexVerticalCenter();
                @include inputs();
                margin-top: 15px;
            }
        }
    
        .register-buttons {
            width: 50vw;
            display: flex; 
            flex-direction: row;
            justify-content: space-between;
            button {
                @include buttons();
                background: none;
                font-size: 14px;
                font-weight: 500;
                padding: 10px;
                &:hover {
                    color: $accent-orange;
                }
            }
        }
    }
    
    .website-description {
        display: none;
    }

    .footer {
        display: none;
    }
}