$barlow-font: 'Barlow', sans-serif; 
@mixin linkHover() {
    &:hover {
        color: #D16F2D;

    }
    transition-duration: .2s;
      -webkit-transition-duration: .2s;
      -moz-transition-duration: .2s;
}

.header {
    //background-color: red;
    height:8vh;
    width:100%;
}

.map-link{ //link to Map 
    position: absolute;
    right: 220px;
    top: 30px;
    color: #19303f;
    cursor: pointer;
    font-family: $barlow-font;
    //font-size: x-large;
    @include linkHover();
}

.favorites-link { 
    position: absolute;
    right: 120px;
    top: 30px;
    color: #19303f;
    font-family: $barlow-font;
    cursor: pointer;
    //font-size: x-large;
    @include linkHover();
}

.logout-link { //logout link does not need to be visable from home screen 
    position: absolute;
    right: 50px;
    top: 30px;
    color: #19303f;
    font-family: $barlow-font;
    cursor: pointer;
    //font-size: x-large;
    @include linkHover();
}
// .nav-to-map-div {
//     position: absolute;
    
// }
.greeting {
    //background-color: red;
    position: absolute;
    right: 350px;
    top: 30px;
    color: #19303f;
    font-family: $barlow-font;
    font-size: large;
}