.favorites-container{
  font-family: 'Barlow', sans-serif;
  width: 100%;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.mapped-favorites-container{
  border: 2px solid #D16F2D;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  width: 80%;
  flex-direction: row;
  height: 270px;
  border-radius: .1%;
  margin: 20px 0px 20px 0px;
  -webkit-box-shadow: 5px 5px 5px -4px #D16F2D(0,0,0,0.8); 
box-shadow: 5px 5px 5px -4px rgba(0,0,0,0.8);
}

.favorites-left-container{
  border: 1px solid #46a0a68e;
  border-radius: 5%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.favorites-weather-wind-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 180px;
}

.favorites-weather-box{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.weather-name-icon-container{
  display: flex;
  flex-direction: column;
}
.favorite-title-container{
  display: flex;
  justify-content: space-around;
}
.favorite-water-name-title{
  font-size: 20px;
  width: 180px;
  margin: 0;
  display: flex;
  align-self: center;
  align-content: flex-end;
  justify-content: center;
  text-decoration: underline #46a0a68e;
}

.favorite-wind-name-title{
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  text-decoration: underline #46a0a68e;
  width: 130px;
  margin: 0;
}

.favorites-weather-container{
  display: flex;
  width: 100%;
  padding: 5px;
  justify-content: space-evenly;
}

.weather-api-container{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  width: 180px;
  padding: 5px;
  box-sizing: border-box;
  height: 130px;
}

.weather-api-container > img{
  width: 75px;
}

.favorites-wind-container{
  display: flex;
  flex-direction: column;
  height: 130px;
  box-sizing: border-box;
}


.temp-condition-container{
  height: 100px;
  justify-self: baseline;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.temp-condition-container > h2 {
  font-size: 20px;
  margin: 0;
}

.temp-condition-container > h3 {
  margin: 0;
}

.favorites-wind-div-container{
  width: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2.5px;
  align-content: center;
  align-items: center;
  padding-top: 20px;
}

.favorites-wind-div-container > p {
  margin: 15px;
  font-weight: 600;
}

.stormglass-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height:100%;
  justify-content: space-around;
  align-items: center;
  border-radius: 5%;
}

.tide-info-container{
  border-radius: 2.5%;
  display: flex;
  height: 145px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-evenly;
}

.tide-info-container>h3{
  margin: 0px;
}

.tide-info-container>h2{
  margin: 0px;
  text-decoration: underline #46a0a68e;
}

.mappedTide-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 2px;
  margin: 0px;
}

.mappedTide-container > h3{
  margin: 0px;
}
.favorite-button-container{
  display: flex;
  justify-content: center;
  height: 25px;
  align-items: center;
  align-content: baseline;
}

.favorite-button-container > button{
  border: none;
  background: none;
  color: #D16F2D;
  font-size: 20px;
}

.favorite-button-container >h3{
  margin-bottom: 3px;
}

.favorite-button-container > button:hover{
  cursor: pointer;
}

.swell-info-container{
  padding: 5px 5px 0px 5px;
  margin-top: 10px;
  border-radius: 2.5%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites-beach-name{
  display: flex;
  justify-content: center;
  white-space: nowrap;
  width: 90%;
  color: #D16F2D;
  font-size: 30px;
  font-weight: 800;
  font-size: 2.1vw;
}


.favorite-swell-information{
  border-bottom: 1px solid #46a0a68e;
  display: flex;
  padding-left: 10px;
  width: 100%;
  margin-bottom: 5px;
  align-items: center;
}

.favorite-swell-first-information{
  border-bottom: 1px solid #46a0a68e;
  display: flex;
  padding-left: 10px;
  width: 100%;
  margin-bottom: 5px;
  align-items: center;
}

.favorite-swell-first-information>h2{
  margin: 0px 8px 0px 0px;
}

.favorite-swell-first-information>h3{
  margin:0px;
  font-size: 14.5px;
}

.favorite-swell-information>h2 {
  margin: 0px 8px 0px 0px;
}

.favorite-swell-information >h3 {
  margin: 0px;
}

.tide-request-container{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  width: 35%;
  border: 1px solid #46a0a68e;
}

.tide-request-container > button{
  font-size: 20px;
  align-self: center;
  background-color: #46a0a68e;
  border: none;
  width: 50%;
  height: 50%;
}

.delete-beach-button{
  font-size: 20px;
  align-self: center;
  background-color: #D16F2D;
  border: none;
  width: 100%;
  height: 50%;
  margin: 5px;
  
}

.delete-beach-button:hover{
  cursor: pointer;
}

.tide-request-container > button:hover{
  cursor: pointer;
}
.favorite-middle-container{
  display: flex;
  width: 15%;
  border: 1px solid #46a0a68e;
  border-radius: 5%;
  padding: 10px;
  flex-direction: column ;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 700;
}

@media only screen and (max-width:950px){
  .favorites-weather-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;

  }
  .mapped-favorites-container{
    width: 299px;
    height: 100%;
  }
  .favorites-left-container{
    width: 100%;
  }

  .favorite-middle-container{
    width: 100%;
    box-sizing: border-box;
    margin: 5px;
    justify-content: space-around;
    flex-direction: row;
  }
  .stormglass-container{
    width: 100%;
  }
  .tide-request-container{
    width: 100%;
  }
  .tide-request-container>button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;
  }
}

@media only screen and (max-width:950px){
  .favorites-beach-name{
    font-size: 25px;
    color: #D16F2D;
  }
}